In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [34]:
df = pd.read_csv('owid-covid-data.csv')
df_filtered = df.loc[df['location'].isin(['Poland','Japan'])]

In [3]:
df_filtered.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [5]:
unique_values = df_filtered.groupby('location')['male_smokers'].unique()
unique_values

location
Japan     [33.7]
Poland    [33.1]
Name: male_smokers, dtype: object

In [6]:
unique_values = df_filtered.groupby('location')['female_smokers'].unique()
unique_values

location
Japan     [11.2]
Poland    [23.3]
Name: female_smokers, dtype: object

In [7]:
unique_values = df_filtered.groupby('location')['diabetes_prevalence'].unique()
unique_values

location
Japan     [5.72]
Poland    [5.91]
Name: diabetes_prevalence, dtype: object

In [8]:
unique_values = df_filtered.groupby('location')['stringency_index'].unique()
unique_values

location
Japan     [0.0, 2.78, 8.33, 19.44, 25.0, 34.26, 43.52, 4...
Poland    [0.0, 5.56, 11.11, 13.89, 25.0, 41.67, 49.07, ...
Name: stringency_index, dtype: object

In [9]:
unique_values = df_filtered.groupby('location')['median_age'].unique()
unique_values

location
Japan     [48.2]
Poland    [41.8]
Name: median_age, dtype: object

In [10]:
unique_values = df_filtered.groupby('location')['aged_65_older'].unique()
unique_values

location
Japan     [27.049]
Poland    [16.763]
Name: aged_65_older, dtype: object

In [11]:
unique_values = df_filtered.groupby('location')['aged_70_older'].unique()
unique_values

location
Japan     [18.493]
Poland    [10.202]
Name: aged_70_older, dtype: object

In [12]:
unique_values = df_filtered.groupby('location')['cardiovasc_death_rate'].unique()
unique_values

location
Japan       [79.37]
Poland    [227.331]
Name: cardiovasc_death_rate, dtype: object

In [16]:
unique_values = df_filtered.groupby('location')['life_expectancy'].unique()
unique_values

location
Japan     [84.63]
Poland    [78.73]
Name: life_expectancy, dtype: object

In [19]:
unique_values = df_filtered.groupby('location')['gdp_per_capita'].unique()
unique_values

location
Japan     [39002.223]
Poland    [27216.445]
Name: gdp_per_capita, dtype: object

In [20]:
unique_values = df_filtered.groupby('location')['hospital_beds_per_thousand'].unique()
unique_values

location
Japan     [13.05]
Poland     [6.62]
Name: hospital_beds_per_thousand, dtype: object

In [22]:
df_filtered['date']

153835    2020-01-03
153836    2020-01-04
153837    2020-01-05
153838    2020-01-06
153839    2020-01-07
             ...
251850    2023-10-29
251851    2023-10-30
251852    2023-10-31
251853    2023-11-01
251854    2023-11-02
Name: date, Length: 2800, dtype: object

In [26]:
#total_vaccinations, total_cases, total_deaths
df_filtered = df_filtered[df_filtered['date'] == '2023-11-02']

       iso_code continent location        date  total_cases  new_cases  \
155234      JPN      Asia    Japan  2023-11-02   33803572.0        0.0
251854      POL    Europe   Poland  2023-11-02    6529896.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
155234                 0.0       74694.0         0.0                  0.0
251854                 0.0      119664.0         0.0                  0.0

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
155234  ...          33.7                     NaN                       13.05
251854  ...          33.1                     NaN                        6.62

        life_expectancy  human_development_index   population  \
155234            84.63                    0.919  123951696.0
251854            78.73                    0.880   39857144.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
155234                                   NaN                          NaN
251854                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
155234               NaN                                      NaN
251854               NaN                                      NaN

[2 rows x 67 columns]

In [28]:
df_filtered['total_cases']

155234    33803572.0
251854     6529896.0
Name: total_cases, dtype: float64

In [29]:
df_filtered['total_deaths']

155234     74694.0
251854    119664.0
Name: total_deaths, dtype: float64

In [33]:
df_filtered['people_vaccinated']

155234           NaN
251854    22877392.0
Name: people_vaccinated, dtype: float64

In [35]:
df_filtered['people_vaccinated']

153835           NaN
153836           NaN
153837           NaN
153838           NaN
153839           NaN
             ...
251850    22877379.0
251851    22877382.0
251852    22877389.0
251853           NaN
251854    22877392.0
Name: people_vaccinated, Length: 2800, dtype: float64